/* Setting the page constants */

main {
    background-color: lightslategray;
}

.firstLetter::first-letter {
    font-size: 200%;
    font-weight: bold;
}

.footer {
    text-align: center;
    border-top: 5px solid rgb(51, 73, 73);
}

.bioImage {
    float: left;
    margin: 25px;
    width: 150px;
}

.card {
    margin: 25px 25px 50px 25px;
    padding-bottom: 50px;
}

/* Media query for small screens */

@media only screen and (max-width: 767px) {
    .navbar-nav, .navbar-brand {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
}

/* Media query for medium screens */

@media only screen and (min-width: 768px) {
    nav {
        width: 50%;
        float: left;
    }

    .navbar-nav > ul {
        text-align: right;
        float: right;
        justify-content: right;
    }

    main {
        margin: 0 10%;
    }
}

/* Media query for large screens */

@media only screen and (min-width: 980px) {
    main {
        margin: 0 20% 0 5%;
    }
}